@tailwind base;
@tailwind components;
@tailwind utilities;
.row{
    display: flex;
    flex-wrap: wrap;
}
.kumar-one-outline-regular {
    font-family: "Kumar One Outline", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .background-animate {

    -webkit-animation: AnimateBackgroud 5s ease infinite;
    -moz-animation: AnimateBackgroud 5s ease infinite;
    animation: AnimateBackgroud 5s ease infinite;
  }
  
  @keyframes AnimateBackgroud {
    0% {
    scale:80%;
    }
    50% {
      scale: 100%;
    }
    100% {
      scale: 80%
    }
  }
  